// @import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
// @import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

// @font-face {
//   font-family: 'Nanum Barun Gothic';
//   font-style: normal;
//   font-weight: 200;
//   src: local('Nanum Barun Gothic UltraLight'), local('Nanum Barun Gothic-UltraLight'), local('NanumBarunGothic UltraLight');
//   src: url(../assets/NanumBarunGothic/NanumBarunGothicUltraLight.eot);
//   src: url(../assets/NanumBarunGothic/NanumBarunGothicUltraLight.eot?#iefix) format('embedded-opentype'),
//        url(../assets/NanumBarunGothic/NanumBarunGothicUltraLight.woff) format('woff'),
//        url(../assets/NanumBarunGothic/NanumBarunGothicUltraLight.ttf) format('truetype');
// }

// @font-face {
//   font-family: 'Nanum Barun Gothic';
//   font-style: normal;
//   font-weight: 300;
//   src: local('Nanum Barun Gothic Light'), local('Nanum Barun Gothic-Light'), local('NanumBarunGothic Light');
//   src: url(../assets/NanumBarunGothic/NanumBarunGothicLight.eot);
//   src: url(../assets/NanumBarunGothic/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
//        url(../assets/NanumBarunGothic/NanumBarunGothicLight.woff) format('woff'),
//        url(../assets/NanumBarunGothic/NanumBarunGothicLight.ttf) format('truetype');
// }

// @font-face {
//   font-family: 'Nanum Barun Gothic';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Nanum Barun Gothic Regular'), local('Nanum Barun Gothic-Regular'), local('NanumBarunGothic Regular');
//   src: url(../assets/NanumBarunGothic/NanumBarunGothic.eot);
//   src: url(../assets/NanumBarunGothic/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
//        url(../assets/NanumBarunGothic/NanumBarunGothic.woff) format('woff'),
//        url(../assets/NanumBarunGothic/NanumBarunGothic.ttf) format('truetype');
// }

// @font-face {
//   font-family: 'Nanum Barun Gothic';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Nanum Barun Gothic Bold'), local('Nanum Barun Gothic-Bold'), local('NanumBarunGothic Bold');
//   src: url(../assets/NanumBarunGothic/NanumBarunGothicBold.eot);
//   src: url(../assets/NanumBarunGothic/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
//        url(../assets/NanumBarunGothic/NanumBarunGothicBold.woff) format('woff'),
//        url(../assets/NanumBarunGothic/NanumBarunGothicBold.ttf) format('truetype');
// }

// 데스크탑 (웹폰트)
$web-font-family:
  'Noto Sans KR',
  "Apple SD Gothic Neo",
  '맑은 고딕', "Malgun Gothic",
  '나눔고딕', "nanumgothic",
  "Helvetica Neue", Helvetica, Arial,
  "Trebuchet MS",
  sans-serif;

$web-font-family-serif:
  Georgia, "Times New Roman", Times,
  '나눔명조', "nanummyeongjo",
  serif;

// 모바일 (기본)
$font-family-sans-serif:
  'Noto Sans KR',
  "Apple SD Gothic Neo",
  '맑은 고딕', "Malgun Gothic",
  "Helvetica Neue", Helvetica, Arial,
  "Trebuchet MS",
  sans-serif;

$font-family-serif:
  Georgia, "Times New Roman", Times,
  serif;

$font-family-cursive:
  'Pacifico', cursive;

// font-weight: $bold;
strong,
dt, kbd kbd,
label, .label {
  @extend .strong;
}

// font-weight: @normal;
.fwn,
.btn-link,
.radio label,  .checkbox label,
.radio-inline, .checkbox-inline,
.input-group-addon,
.dropdown-menu > li > a,
.tooltip, .popover {
  @extend .normal;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  small, .small {
    @extend .normal;
  }
}