@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin make-row() {
	$gutter: $grid-gutter-width;

  	margin-left:  ($gutter / -2);
  	margin-right: ($gutter / -2);
  	@include clearfix();
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {

  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-border-radius: $border-radius;
     -moz-border-radius: $border-radius;
          border-radius: $border-radius;
}

// WebKit-style focus
@mixin tab-focus(){
  // Default
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// User select
// For selecting text on the page

@mixin user-select($select) {
  -webkit-user-select: $select;
     -moz-user-select: $select;
      -ms-user-select: $select; // IE10+
          user-select: $select;
}

//border 
@mixin border-r($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
//transition
@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}
//fonts
@mixin font-size($sizeValue) {
  $remValue: ( $sizeValue / 10 );
  $pxValue: $sizeValue;
  font-size: $pxValue + px;
  font-size: $remValue + rem;
}
@mixin font-weight($value) {
	font-weight: $value;
}

// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: alpha(opacity=$opacity);
}


// Responsive image
@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

//box-shadow
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
          box-shadow: $shadow;
}

@mixin container-fixed($gutter: $grid-gutter-width) {
  margin-right: auto;
  margin-left: auto;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
  @include clearfix();
}
//serif
// 글꼴: 세리프
@mixin serif($breakpoint: $tablet) {
	font-family: $font-family-serif;
	@media (min-width: $breakpoint) {
		font-family: $web-font-family-serif;
	}
}

// Placeholder text
@mixin placeholder($color: $input-color-placeholder) {
  // Firefox
  &::-moz-placeholder {
    color: $color;
    opacity: 1; // See https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder { color: $color; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: $color; } // Safari and Chrome
}

@mixin text-overflow($lines, $lineHeight) {
  $maxhValue : ( $lines * $lineHeight );
  max-height: $maxhValue + em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}

@mixin single-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}