.site-header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	padding-top: 7px;
	@include transition(.2s all ease-in-out);
	@media (min-width: $screen-sm-min) {
		padding-top: 15px;
	}
	.site-title{
		font-family:$font-family-cursive;
		@include font-size(36);
		color:#fff;
		@include transition(.2s all ease-in-out);
	}
	.site-nav{
		float: right;
		margin-top: 20px;
		@include transition(.2s all ease-in-out);
		.main-menu{
			@include clearfix();
			li{
				float: left;
				margin-left: 20px;
				a{
					color:#fff;
					@include font-size(15);
					@include transition(.2s all ease-in-out);
					@media (min-width: $screen-sm-min) {
						@include font-size(18);
					}
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
	//걸렸을 때
	&.fixed{
		background-color: #FFF;
		padding-top: 0;
		border-bottom: 1px solid #ddd;
		.site-title{
			color:$brand;
			// line-height: 1;
			@include font-size(28);
		}
		.site-nav{
			margin-top: 14px;
			margin-bottom: 14px;
			.main-menu{
				li{
					a{
						color:#333;
						@include font-size(14);
					}
				}
			}
		}
	}
}