.home {
	// front-page
	.section01{
		background:url('../images/bg.jpg') no-repeat center bottom;
		background-size: cover;
		.text-box{
			position: absolute;
			bottom: 30px;
			left: 30px;
			right: 30px;
			@media (max-width: $screen-xs-max) {
				bottom: 15px;
				left: 20px;
				right: 20px;
			}
			*{
				color:#fff;
				margin: 0;
				padding: 0;
			}
			small{margin-left: 10px;font-size: 60%;}
			h2{
				@include font-size(32);
				margin-bottom: 10px;
				small{}
			}
			h3{
				@include font-size(18);
				margin-bottom: 20px;
				small{}
			}
			.list-spec{
				font-weight:$light;
				overflow: hidden;
				li{
					float: left;
					margin-right: 5px;
					color:#ddd;
					@include font-size(12);
					strong{
						margin-right: 5px;
						font-weight:$normal;
					}
				}
			}
			.career{
				font-weight:$light;
				margin-bottom: 10px;
				dl{
					overflow: hidden;
					@include font-size(13);

					dt{
						float: left;
						margin-right: 10px;
						min-width: 110px;
						color:#ddd;
					}
					dd{
						float: left;
					}
				}
			}
		}
	}
	.section02{
		.fp-tableCell{
			display: block
		}
		.list-portfolio{
			overflow: hidden;
			height: 100%;
			li{
				position: relative;
				width: 50%;
				height: 33.3333%;
				@media(min-width:$screen-sm-min){
					height: 50%;
					width: 33.3333%;
				}
				float: left;
				margin-top: 0;
				.inner{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					display: block;
					background-color: rgba(0,0,0,0.5);
					z-index: 1;
					@include transition(.2s all ease-in-out);
					&:hover{
						background-color: transparent;
						.item-title{
							@include opacity(0);
						}
					}
					.item-title{
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						padding: 15px;
						@media(min-width:$screen-sm-min){
							padding: 30px;
						}
						@media (max-width: $screen-xs-max) {
							@include font-size(16);
						}
						z-index: 2;
						color:#fff;
						margin-bottom: 0;
						@include transition(.2s all ease-in-out);
						small{
							display: block;
							margin-top: 5px;
							font-weight:$light;
							@include font-size(14);
							@media(min-width:$screen-sm-min){
								@include font-size(13);
							}
						}
					}
				}
			}
		}
	}
	.section03{
		background-color: #304148;
		.container{
			// padding-top: 70px;
			padding-top: 100px;
			@media (min-width: $screen-sm-min) {
				padding-bottom: 100px;
			}
		}
	}
}
.fp-enabled{
	.container{
		width: auto;
		padding-left: 20px;
		padding-right: 20px;
		@media (min-width: $screen-sm-min) {
			padding-left: 30px;
			padding-right: 30px;
		}
		max-width: none;
	}
	.section01{
		.container{
			height: 100%;
		}
	}
}

.fp-viewing-section01{
	.site-header{
		.site-title{
			color:$brand;
		}
	}
	.site-nav{
		.main-menu{
			li{
				a{
					color:#333;
				}
				&.l01{
					a{
						// font-weight:$bold;
						text-decoration: underline;
					}
				}
			}
		}
	}
}
.fp-viewing-section02{
	.site-nav{
		.main-menu{
			li{
				&.l02{
					a{
						// font-weight:$bold;
						text-decoration: underline;
					}
				}
			}
		}
	}
}
.fp-viewing-section03{
	.site-nav{
		.main-menu{
			li{
				&.l03{
					a{
						// font-weight:$bold;
						text-decoration: underline;
					}
				}
			}
		}
	}
}